@import "~bootstrap/scss/bootstrap";

@import "./variables";
@import "./header";
@import "./sideBar";
@import "./main";


body{
  background-color: black;
  color: white;
  word-spacing: 0.2rem;
  
}

a {
  transition: all .3s ease;
  &:hover{
    color:rgb(13, 221, 228)!important;
    cursor: pointer;
  }
}


main{
  height: 60vh;
}