@import "~bootstrap/scss/bootstrap";

@import "./variables";
@import "./header";
@import "./sideBar";



body{
  background-color: black;
  color: white;
  word-spacing: 0.2rem;
  
}

main{
  height: 60vh;
}